<form>
  <div class="form-group">
    <label for="useless">Cose inutile</label>
    <input class="form-control" name="useless" #useless> <!--il # serve a collegare l'input a una variabile-->
    <small id="emailHelp" class="form-text text-muted">Metti una frase inutile</small>
    <br>
    <label for="spam">Spam</label>
    <input class="form-control" name="spam" #spam>
    <small id="emailHelp" class="form-text text-muted">Quante volte la vuoi ripetere?</small>
  </div>
  <button (click)="addSpam(useless, spam)">Submit spamm</button>
</form> 

<ul class="list-group">
  <li class="list-group-item" *ngFor="let a of articles">
    {{a}}
  </li>
</ul>

<!--Zanella, errichiello, siriani, brambilla, pierro -->
